{% extends "base.html" %}
{% block content %}
<h2>Posts</h2>
<br/><br/>

  {% for post in posts %}
  <div class="post">
      <div class="post-heading">

          <h1 class="post-title">
            <a class="post-link" href="/post/{{post.key.id()}}">{{ post.subject }}</a>
          </h1>

          {% if post.author == user.name %}
          <div class="dropdown action-btn">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="/post/{{post.key.id()}}/edit">Edit</a></li>
              <li>
                <a class="del-post-link" href="">Delete</a>
                <form class="critical-frm" method="post" action="/post/{{post.key.id()}}/delete"></form>
              </li>
            </ul>
          </div>
          {% endif %}

        <label class="post-date">{{post.humanDate() }}</label>
        <!-- <label class="post-date"> post.humanDate() </label> -->

      </div>

      
      <p class="lead post-content">{{ post.content }}</p>
      <div class="author-container">
        <span class="label label-warning author-txt">{{post.author}}</span>
      </div>
  </div>
	{% endfor %}

{% endblock %}